image: docker:stable

stages:
- pre-build
- build
- test
- deploy

build-docker:
    services:
    - docker:dind
    before_script:
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD

    stage: pre-build
    script:
    - docker build -t reminder-util ./Util
    - docker tag reminder-util igormoura2501/reminder-util:latest
    - docker push igormoura2501/reminder-util:latest

build-project:
    image: igormoura2501/reminder-util:latest
    services:
    - docker:dind
    stage: build
    dependencies:
    - build-docker
    script:
    - dotnet build

test-project:
    image: igormoura2501/reminder-util:latest
    stage: test
    dependencies:
    - build-project
    script:
    - dotnet test
